/.vscode
/cie.docx
/CIE3_part3.docx
/CIE3_part3_final.docx
/CIE3_part3_final.pdf
/GUI (1).jpg
/GUI (2).jpg
/GUI (3).jpg
/GUI (4).jpg
/OS Report 1.docx
/OS Report 1.pdf
/page_replacement_metrics.png
/PART_B_OS[1].pdf
/__pycache__